
//lightcoral
//slategrey
//silver

//$S
$M = 600px

@import 'nav'
@import 'form'

*
	margin 0
	padding 0
	box-sizing border-box

:root
	min-height 320px

	font 400 18px/1.4em Helvetica, sans-serif;
	color #444
	@media (min-width: $M)
		font-size calc(1vw + 1vh + .3vmin)
		line-height 1.63em
		font-family 'Courier New', Courier, monospace
		color #5C5C5C

body




	background #F6F6F6
	margin-left 3em

a
	cursor pointer
ul
	list-style none
	li
		margin-bottom .5em



//.section-scroll
section
	//font-size 1em
	display flex
	//flex-direction column
	flex-direction column-reverse
	min-height 100vh
	//height 100vh
	padding-right .5em


	img
		align-self center
		//display block
		//margin auto
		max-width 100% //50%
		margin 1em 0



#well
	padding 1em
	//background url('/assets/img/sveta.png') no-repeat 20% 70%/ cover antiquewhite
	background antiquewhite
	position relative
	img
		//width auto
		max-height 70vh
		align-self flex-start

.intro
	letter-spacing .3pt
	font-family serif
	font-size 1.3em

	@media (min-width: $M)

		position absolute
		right 2.1em
		top 2em
		width 40%

	h1
		position relative
		text-align right

		font-size 8vw //3em
		line-height 1
		color burlywood
		text-transform uppercase

		margin 1em 0
		&:before
			content 'скульптурный'
			position absolute
			right 0
			top -1em
	p
		font-family 'Courier New', Courier, monospace

	h2
		margin-top .2em
		line-height 1
		color wheat
		font-size 3em
		text-align center















#prices
	background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#fcfcfc'/><text text-anchor='middle' x='50%' y='50%' dy='3px' fill='#F6F6F6' font-size='6px'>Цены</text></svg>") no-repeat center  / contain fixed

	@media (min-width: $M)
		//max-width 80vw //1200px
		margin auto
		//justify-content center
		justify-content space-around
		flex-direction column

		.prices_intro
			font-size .9em
			display flex
			//flex-wrap wrap
			align-items center
			//align-items flex-end
			p
				//padding 0 2em
				padding-left 3em
				//flex 1
			img
				//align-self center
				max-width 30%
				//flex-shrink 2
				//flex 2
				//flex-grow 1

		.item_price
			color lightcoral
			p
				color slategrey

.prices_intro
	margin-bottom 1em
	p
		margin-bottom 1em

.price
	margin 1em 0
	//font-family: Helvetica, sans-serif;
	//flex-basis 100%

	display flex
	flex-wrap wrap
	justify-content space-around

	.item_price
		text-align center
		padding 1em 1em 0
		p
			line-height 1.2
			white-space nowrap





#faq
	@media (min-width: $M)


		flex-direction row
		align-items center

		.faq_intro, ul
			padding 0 2em
		.faq_intro
			display flex
			flex-direction column

	ul
		width 100%
	p
		margin-bottom 1em
		//font-size .8em





#contacts
	@media (min-width: $M)
		flex-direction row
		align-items center
		#map
			width 50%


form
	//font-size 1.2em
	text-align center
	margin auto
	padding 1em 0

	h3
		font-weight normal
		margin-bottom .35em
	a
		color #6383a8
		display block
		&:hover
			color #ef3f5a
		svg
			vertical-align middle
			margin-right 5pt



#map
	height calc(100vh - 4em)
	background #EEE
	position relative

#map_canvas
	width 100%
	height 100%

#zoom-in
#zoom-out
	position absolute
	left 16px
	height 38px
	width 38px
	cursor pointer
	border-radius 50%
	background #03a9f4 url("//s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg") no-repeat
#zoom-in
	background-position 50% 2px
	top 16px
#zoom-out
	background-position: 50% -29px
	top 70px
