
//lightcoral
//slategrey
//silver

@import 'nav'


*
	margin 0
	padding 0
	box-sizing border-box

:root
	font-size calc(1vw + 1vh + .5vmin)

body
	font 400 100%/1.5 serif
	color #5C5C5C
	background #F6F6F6

.well
	//background url('../img/sveta.png') no-repeat 20% 70% antiquewhite
	background antiquewhite
	margin-left 3em
	display flex
	flex-wrap wrap
	position relative



	img
		align-self center
		//display block
		//max-width 60%


.intro
	position absolute
	right 2.1em
	top 2em
	width 40%

	//text-align right
	//max-width 60%
	letter-spacing .3pt
	h1


		text-align right
		//font-size 6vw
		margin-left -5em
		margin-bottom 1em
		//position relative
		//left -4em
		font-size 3em
		line-height 1

		color burlywood

		text-transform uppercase

	h2
		color wheat
		font-size 4em
		text-align center
	p
		font-family monospace
		//padding-left 50%
		color silver





#s1
	background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#fcfcfc'/><text text-anchor='middle' x='50%' y='50%' dy='3px' fill='#EEE' font-size='12px'>Цены</text></svg>") no-repeat center  / 50% fixed



#s2
	background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#FFF'/><text text-anchor='middle' x='50%' y='50%' dy='1px' fill='#EEE' font-size='5px'>Что Как</text></svg>") no-repeat center  / 50% fixed

#s3
	background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#FFF'/><text text-anchor='middle' x='50%' y='50%' dy='1px' fill='#EEE' font-size='4px'>Контакты</text></svg>") no-repeat center  / 50% fixed

.section-scroll
	min-height 100vh
	//height 100vh
	padding 4em

	// h1
	// 	text-align right
	// 	margin-bottom 1em
	// 	//margin-left 3em





.s1
	display flex
	//flex-wrap wrap
	padding 0 0 0 1em

	img
		margin-right 2em
		//display inline-block


.price
	font-size .8em
	margin-top 6em
	width 100%
	display flex
	justify-content space-around
	//justify-content space-between

	div
		color lightcoral
		text-align center
		padding 0 1em

		p
			color slategrey











.s2
	display flex
	//height 100%
	//align-items center
	align-items flex-start
	//justify-content flex-end
	//width 50%
	img
		margin-left 1em
		height auto
		//align-self flex-top
	p
		margin-bottom 1em




#s3
	//text-align center
	//background #333
	//height 100vh
	width 80vw
	//margin auto
	display flex

	h1
		width 100%



.groups
	text-align center
	margin 2em 0
	display flex
	flex-wrap wrap
	justify-content space-around
	p
		width 100%
		//text-align center
		margin-bottom 1em
	b
		background #CCC
		border-radius 50%
		width 3em
		height 3em




#Gmap
	width 50%
	background #EEE

#map_canvas
	height 100%
	width 100%
