
//lightcoral
//slategrey
//silver

@import 'nav'
@import 'form'

*
	margin 0
	padding 0
	box-sizing border-box

:root
	font-size calc(1vw + 1vh + .5vmin)

body
	font 400 100%/1.6 serif

	color #5C5C5C
	background #F6F6F6

a
	cursor pointer

.well
	//background url('../img/sveta.png') no-repeat 20% 70% antiquewhite

	background antiquewhite
	margin-left 3em
	display flex
	flex-wrap wrap
	position relative

	img
		align-self center


.intro
	position absolute
	right 2.1em
	top 2em
	width 40%

	letter-spacing .3pt
	h1


		text-align right
		//font-size 6vw
		margin-left -5em
		margin-bottom 1em

		font-size 3em
		line-height 1

		color burlywood

		text-transform uppercase

	h2
		color wheat
		font-size 4em
		text-align center
	p
		font-family 'Courier New', Courier, monospace
		//padding-left 50%
		color silver





#prices
	background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#fcfcfc'/><text text-anchor='middle' x='50%' y='50%' dy='3px' fill='#F6F6F6' font-size='6px'>Цены</text></svg>") no-repeat center  / 50% fixed

	font-family 'Courier New', Courier, monospace


#faq
	font-family 'Courier New', Courier, monospace



.section-scroll
	min-height 100vh
	//height 100vh
	padding 4em



.s1
	display flex
	//flex-wrap wrap
	padding 0 0 0 1em

	p
		font-size .8em

	img
		margin-right 2em

.price
	font-family: Helvetica, sans-serif;
	font-size .8em
	margin-top 6em
	width 100%
	display flex
	justify-content space-around
	//justify-content space-between
	div
		color lightcoral
		text-align center
		padding 0 1em
		p
			color slategrey
			white-space nowrap





.s2
	display flex
	align-items flex-start
	img
		margin-left 1em
		height auto
	p
		margin-bottom 1em
		font-size .8em





#contacts
	padding 0
	padding-left 3em
	display flex

form
	font-family 'Courier New', Courier, monospace
	text-align center
	margin auto

	h3
		font-weight normal
	a
		color #6383a8
		display block
		&:hover
			color #ef3f5a
		svg
			vertical-align middle
			margin-right 5pt



#map
	width 50%
	height calc(100vh - 4em)
	margin 2em 0
	background #EEE
	position relative

#map_canvas
	//position absolute
	width 100%
	height 100%


#zoom-in
#zoom-out
	position absolute
	left 16px
	height 38px
	width 38px
	cursor pointer
	border-radius 50%
	//margin-left 16px
	//margin-top 16px
	background #03a9f4 url("//s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg") no-repeat
#zoom-in
	background-position 50% 2px
	top 16px
#zoom-out
	background-position: 50% -29px
	top 70px
