doctype html
html(lang='ru')
	include ../blocks/head
	body
		block content
		script(src="//maps.google.com/maps/api/js?sensor=false")
		script(src="assets/js/map.js")
		script(src="assets/js/my_.js")
