extends ../layouts/main

block head
	- pageTitle = 'массаж частный мастер';
	- pageDescription = 'частный массажист услуги';
	- pageKeywords = 'антицеллюлитный массаж цена, массаж, услуги массажиста';

block content
	include ../blocks/main
