extends ../layouts/main

block head
	- pageTitle = 'массаж';
	- pageDescription = 'частный массажист услуги';
	- pageKeywords = 'массаж, aнтицеллюлитный массаж, восстанавливающий массаж';

block content
	include ../blocks/main
