head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')


	block head
	title= pageTitle
	meta(name='description' content=pageDescription)
	meta(name='keywords' content=pageKeywords)
	meta(name='key' content='val')
	meta(name='yandex-verification' content='78ac975f47e5a1b6')
	//link(href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic', rel='stylesheet')
	//- link(href='/assets/styles/common.css?' + timestamp rel='stylesheet')
	
	link(href='./assets/css/common.css' rel='stylesheet')

	block addCSS
