

#nav

	a(href="#contacts") Контакты
	a(href="#faq") FAQ
	a(href="#prices") Цeны


.section-scroll.well

	img(src="assets/img/sveta.png", alt="")

	//скульптурный
	.intro
		h1 
			br
			| скульптурный массаж 
		p cтройная подтянутая фигура, тонус, легкость и прекрасное настроение
		h2 1000 р
		//h3 Стройная фигура, подтянутая кожа, легкость и прекрасное настроение
		//Дипломированный массажист
		//p подарите себе удовольствие

#prices.section-scroll

	//h1 8(926)666-61-91 Как придать телу прилив бодрости и сил.

	.s1

		img(src="/assets/img/avatar.png", alt="")

		p Привет я Света. Люблю здоровый образ жизни. Занимаюсь йогой и спортом. Дипломированный массажист. Работала с профессиональными спортсменами и знаю как восстанавливать организм.
			br
			br
			| В частном порядке работаю с девушками желающими [скоректировать]
			b подтянуть фигуру 
			| или придать телу прилив бодрости и сил.

	.price
		div
			h3 Для пляжа/для бикини
			p упругость и эластичность
			p Антицеллюлитный массаж 1 час
			h2 1000 рэ

		div
			h3 От усталости/утомления
			p Oil relax или
			p Восстанавливающий массаж 1 час
			h2 1000 рэ

		div
			h3 Для бодрости и здоровья
			p Общий лечебный массаж
			p 2 часа
			h2 2000 рэ







#faq.section-scroll

	.s2
		div
			p Я не работаю с мужчинами.
			p У меня есть всё необходимое: профессиональный стол Yamaguchi, кремы и масла, одноразовые стерильные простыни и полотенца.
			hr
			br
			p  
				b Антицеллюлитный массаж: 
				| 8-12 сеансов каждые 2-3 дня. Зоны: поясница, ягодицы, бёдра, бока.
			p  
				b Oil-массаж: 
				| relax массаж с ароматными маслами.
			p  
				b Восстанавливающий массаж: 
				| работа с мышцами для снятия усталости, вызванной травмами либо нагрузками.
			p  
				b Общий массаж: 
				| работа с мышцами всего тела. Рекомендуется как оздоровительная процедура.


		img(src="/assets/img/massage.png", alt="")



#contacts.section-scroll
	

	#Gmap
		#zoom-in
		#zoom-out
		#map_canvas



	.groups
		h1 Контакты:
		p Отзывы и обсуждения в группах:
		b
		b
		b
	form(enctype="multipart/form-data",  method="post")
		input(type="text", name="entry.1327759554")
		input(type="text", name="entry.747369052")
		input(type="text", name="entry.1246826466")
		button GO
